* {
    box-sizing: border-box;
    /* margin: 0;
    padding: 0; */
    max-width: 400px;
    margin: auto;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f5f5f5;
}

.simulate-mobile {
    width: 400px;
    margin: auto;
    background-color: #001219;
    color: white;
}

.leaflet-container {
    position: relative;
    height: 50vh;
    width: 95vh;
    margin: 0px auto;
  }

.marker {
    border: none;
    background-color: transparent;
  }
  
.marker .leaflet-interactive {
background-color: red;
border-radius: 50%;
width: 10px;
height: 10px;
}
  
.red-marker-image {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.55); /* Adjust the scale value as desired */
    z-index: 9999;
  }

.buttonContainer {
    margin-bottom: 15px;
    margin-left: 5px;
}

/* For className='eachStop' in App.js, set white background color  */
.eachStop {
    background-color: #2b2d42;
    margin: 15px 0px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 1px;
    color: white;
}

.stationData {
    margin: 15px 10px;
    color: white;
}